<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <!--See ref http://sitecore.stackexchange.com/questions/2683/unicorn-serialized-files-to-source-control-->
  <sitecore>
    <sc.variable name="sourceFolder" value="C:\Dev\github_projects\sitecore-8-training\events\App_Data" />
  </sitecore>
</configuration>